.form-container {
  max-width: 400px;
  margin: 15px auto;
  padding: 8px 25px;
  border-radius: 8px;
  background-color: #242424c7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-heading {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column; /* Align items in a column */
}

.form-label {
  display: inline-block; /* Display labels inline */
  margin-bottom: 5px;
}

.form-input-field {
  width: 100%; /* Take full width of the container */
  padding: 8px;
  border-radius: 4px;
  box-sizing: border-box; /* Include padding and border in width calculation */
}

.form-button-group {
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;
}

.form-error-mssg {
  color: #f65b5b;
  text-shadow: 1px 1px 11px red;
}

.register-button {
  background: #008cba;
}

.login-button {
  background: #4caf50;
}

.login-button,
.register-button {
  color: white;
  width: 43%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  margin: 8px;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 600px; /* Adjust max-width for larger screens */
  }
}
